body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.border-red {
  border: 2px solid red;
}

.border-blue {
  border: 2px solid blue;
}

.border-black {
  border: 2px solid black;
}

.flex {
  display: flex;
}

.flex-jc-c {
  display: flex;
  justify-content: center;
}

.flex-ai-c {
  display: flex;
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.block {
  display: block;
}

.height-100p {
  height: 100%;
}

.container {
  margin: 0 auto;
  width: max(1080px, 56.25vw);
}

.img-box > img {
  width: 100%;
  display: block;
}

.svg-box {
  line-height: 1;
}

.img-ico {
  display: inline-block;
  background: url(../images/imgi_22_img_kabang_250717.png), no-repeat;
  width: 24px;
  height: 24px;
}

html ::-moz-selection {
  background-color: #ffe400;
}

html ::selection {
  background-color: #ffe400;
}

body {
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
}

.global-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.global-header > .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.global-header .logo {
  flex-grow: 1;
}
.global-header .top-bar {
  height: 100%;
}
.global-header .top-bar .top-bar__menu-list {
  display: flex;
  height: 100%;
}
.global-header .top-bar .top-bar__menu-list .menu-item > a {
  position: relative;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
}
.global-header .top-bar .top-bar__menu-list .menu-item:hover > a {
  border-bottom: 2px solid #222;
}
.global-header .top-bar .top-bar__menu-list > .site-map {
  height: auto;
  position: relative;
}
.global-header .top-bar .top-bar__menu-list > .site-map > a {
  padding: 0;
}
.global-header .top-bar .top-bar__menu-list > .site-map > a:hover {
  text-decoration: none;
}
.global-header .top-bar .top-bar__menu-list > .site-map > a > span {
  display: inline-block;
  background-color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  border-radius: 999px;
}
.global-header .top-bar .top-bar__menu-list > .site-map > a > span::after {
  content: "";
  width: 12px;
  height: 12px;
  margin-left: 12px;
  display: inline-block;
  background-image: url(../images/svg_line_arrow_down.svg);
  transition: all 0.3s;
}
.global-header .top-bar .top-bar__menu-list > .site-map.modalActive > a > span::after {
  transform: rotate(-180deg);
}
.global-header .top-bar .top-bar__menu-list > .site-map > .site-map-modal {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 240px;
  margin: 10px 0 0;
  background-color: #fff;
  white-space: nowrap;
  transform: translateX(-50%) translateY(5%);
  border-radius: 8px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.global-header .top-bar .top-bar__menu-list > .site-map > .site-map-modal.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0%);
}
.global-header .top-bar .top-bar__menu-list > .site-map > .site-map-modal .svg-box {
  display: inline-block;
}
.global-header .top-bar .top-bar__menu-list > .site-map > .site-map-modal .svg-box > svg {
  width: 12px;
}
.global-header .top-bar .top-bar__menu-list > .site-map > .site-map-modal > li {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 48px;
}
.global-header .top-bar .top-bar__menu-list > .site-map > .site-map-modal > li:hover {
  background-color: #f6f6f6;
}
.global-header .top-bar .top-bar__menu-list > .site-map > .site-map-modal > li > a {
  justify-content: start;
  font-size: 14px;
  gap: 4px;
}
.global-header .top-bar .top-bar__menu-list > li {
  display: flex;
  height: 100%;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  margin: 0 12px;
}
.global-header .top-bar .top-bar__menu-list > li a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.global-header .top-bar .top-bar__menu-list > li a:hover {
  text-decoration: underline;
}
.global-header .top-bar .top-bar__menu-list > li a[target=_blank]::after {
  content: "";
  display: block;
  background-image: url(../images/svg_line_outlink.svg);
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
  margin-left: 4px;
}
.global-header .top-bar .top-bar__menu-list > li > a {
  padding: 0 12px;
  height: 100%;
}
.global-header .top-bar .top-bar__menu-list > li > a span {
  display: block;
}
.global-header .top-bar .top-bar__menu-list > li:hover .container {
  display: flex;
}
.global-header .top-bar .top-bar__menu-list > li > .container {
  display: none;
  justify-content: center;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0%;
  background-color: #fff;
  width: 100%;
  padding: 60px 0 36px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}
.global-header .top-bar .top-bar__menu-list > li > .container > .second-menu {
  display: flex;
  justify-content: space-around;
  width: 1080px;
}
.global-header .top-bar .top-bar__menu-list > li > .container > .second-menu > .second-menu-item > a[target=_blank]::after {
  content: "";
  display: block;
  background-image: url(../images/svg_line_outlink.svg);
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  margin-left: 6px;
}
.global-header .top-bar .top-bar__menu-list > li > .container > .second-menu > .second-menu-item > a > span {
  font-size: 18px;
}
.global-header .top-bar .top-bar__menu-list > li > .container > .second-menu > .second-menu-item > .third-menu {
  padding: 24px 0 0;
  font-size: 14px;
}
.global-header .top-bar .top-bar__menu-list > li > .container > .second-menu > .second-menu-item > .third-menu > .third-menu-item {
  margin: 0 0 24px;
}

main {
  margin-top: 80px;
}

.section1 {
  position: relative;
}
.section1 .main-bg-line {
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: #ffef6b;
  width: 100%;
  height: 720px;
}
.section1 .container {
  width: 1200px;
}
.section1 .container .main-bg {
  background-image: url(../images/imgi_21_main-bg3.png);
  height: 884px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section1 .container .main-bg .text-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  top: 135px;
  left: 90px;
  font-size: 17px;
}
.section1 .container .main-bg .text-box h3 {
  font-size: 52px;
  font-weight: 700;
}
.section1 .container .main-bg .text-box p {
  line-height: 1.75;
  font-weight: 300;
}
.section1 .container .main-bg .text-box ul {
  display: flex;
  padding: 24px 0 0 6px;
  gap: 12px;
}
.section1 .container .main-bg .text-box ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 178px;
  height: 56px;
  background-color: #fff;
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
}
.section1 .container .main-bg .text-box ul li a .ico-appG {
  background-position: -341px -292px;
}
.section1 .container .main-bg .text-box ul li a .ico-appA {
  background-position: -371px -292px;
}
.section1 .container .main-bg .text-box ul li:hover a {
  text-decoration: underline;
}