// font
// @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

// ----------------------------- normalize -----------------------------
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

// ----------------------------- libs -----------------------------
.border-red {
  border: 2px solid red;
}
.border-blue {
  border: 2px solid blue;
}
.border-black {
  border: 2px solid black;
}
.flex {
  display: flex;
}
.flex-jc-c {
  display: flex;
  justify-content: center;
}
.flex-ai-c {
  display: flex;
  align-items: center;
}
.flex-grow-1 {
  flex-grow: 1;
}
.block {
  display: block;
}
.height-100p {
  height: 100%;
}
.container {
  margin: 0 auto;
  width: max(1080px, 56.25vw);
}
.img-box > img {
  width: 100%;
  display: block;
}
.svg-box {
  line-height: 1;
}

// ----------------------------- custom -----------------------------
// variable
$kakaoYellow: ffe400;

// ----------------------------- component -----------------------------
.img-ico {
  display: inline-block;
  background: url(../images/imgi_22_img_kabang_250717.png), no-repeat;
  width: 24px;
  height: 24px;
}

.btn-gray {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 17px;
  background-color: #f6f6f6;

  a {
    display: inline-block;
  }
  .btn-arr {
    display: inline-block;
    width: 6px;
    height: 9px;
    background: url(../images/imgi_2_home_arr.png), no-repeat;
    background-size: cover;
  }

  &:hover {
    a {
      text-decoration: underline;
    }
  }
}

// body,html
html {
  ::selection {
    background-color: #ffe400;
  }
}

body {
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
}

// ----------------------------- header start -----------------------------
.global-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  > .container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  // logo
  .logo {
    flex-grow: 1;
  }

  // top bar start
  .top-bar {
    height: 100%;

    .top-bar__menu-list {
      display: flex;
      height: 100%;

      // 1st menu style
      .menu-item {
        > a {
          position: relative;
          box-sizing: border-box;
          border-bottom: 2px solid transparent;
        }

        &:hover > a {
          border-bottom: 2px solid #222;
        }
      }

      // site map
      > .site-map {
        height: auto;
        position: relative;

        > a {
          padding: 0;
          &:hover {
            text-decoration: none;
          }
          > span {
            display: inline-block;
            background-color: #f6f6f6;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 8px 12px;
            border-radius: 999px;

            // drop down arrow
            &::after {
              content: "";
              width: 12px;
              height: 12px;
              margin-left: 12px;
              display: inline-block;
              background-image: url(../images/svg_line_arrow_down.svg);
              transition: all 0.3s;
            }
          }
        }

        &.modalActive {
          > a > span::after {
            transform: rotate(-180deg);
          }
        }

        // site map modal
        > .site-map-modal {
          position: absolute;
          top: 100%;
          left: 50%;
          width: 240px;
          margin: 10px 0 0;
          background-color: #fff;
          white-space: nowrap;
          transform: translateX(-50%) translateY(5%);
          border-radius: 8px;
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
          overflow: hidden;
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s;

          &.active {
            visibility: visible;
            opacity: 1;
            transform: translateX(-50%) translateY(0%);
          }

          .svg-box {
            display: inline-block;
            > svg {
              width: 12px;
            }
          }

          > li {
            display: flex;
            align-items: center;
            padding: 0 24px;
            height: 48px;

            &:hover {
              background-color: #f6f6f6;
            }

            > a {
              justify-content: start;
              font-size: 14px;
              gap: 4px;
            }
          }
        }
      }

      // langauage

      // global list style
      > li {
        display: flex;
        height: 100%;
        font-size: 16px;
        color: #333;
        box-sizing: border-box;
        margin: 0 12px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            text-decoration: underline;
          }
        }

        // outlink
        a[target="_blank"] {
          &::after {
            content: "";
            display: block;
            background-image: url(../images/svg_line_outlink.svg);
            background-size: 14px 14px;
            width: 14px;
            height: 14px;
            margin-left: 4px;
          }
        }

        > a {
          padding: 0 12px;
          height: 100%;

          span {
            display: block;
          }
        }

        &:hover {
          .container {
            display: flex;
          }
        }

        // second menu start
        > .container {
          display: none;
          justify-content: center;
          position: absolute;
          z-index: 99;
          top: 100%;
          left: 0%;
          background-color: #fff;
          width: 100%;
          padding: 60px 0 36px;
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);

          > .second-menu {
            display: flex;
            justify-content: space-around;
            width: 1080px;

            > .second-menu-item {
              > a {
                // outlink 2nd menu
                &[target="_blank"] {
                  &::after {
                    content: "";
                    display: block;
                    background-image: url(../images/svg_line_outlink.svg);
                    background-size: 18px 18px;
                    width: 18px;
                    height: 18px;
                    margin-left: 6px;
                  }
                }

                > span {
                  font-size: 18px;
                }
              }

              // third menu start
              > .third-menu {
                padding: 24px 0 0;
                font-size: 14px;
                > .third-menu-item {
                  margin: 0 0 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}
// ----------------------------- header end -----------------------------
// ----------------------------- main start -----------------------------
main {
  margin-top: 80px;
}

// component
// section common settings
section {
  .container {
    width: 1200px;
  }

  // btn style
  .btn-box {
    display: flex;
    margin-top: 40px;
    gap: 6px;

    > a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 258px;
      height: 56px;
      background-color: #f6f6f6;
      border-radius: 10px;
      font-size: 17px;

      &:hover {
        text-decoration: underline;
      }

      > img {
        width: 6px;
        margin-left: 6px;
      }
    }
  }
}

// section divider
.section-divider {
  height: 32px;
  background-color: #fafafa;
}
// ----------------------------- section1 start -----------------------------

.section1 {
  position: relative;

  .main-bg-line {
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: #ffef6b;
    width: 100%;
    height: 720px;
  }
  .container {
    width: 1200px;
    display: block;

    .main-bg {
      background-image: url(../images/imgi_21_main-bg3.png);
      height: 884px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      .text-box {
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        top: 135px;
        left: 90px;
        font-size: 17px;

        h3 {
          font-size: 52px;
          font-weight: 700;
        }

        p {
          line-height: 1.75;
          font-weight: 300;
        }

        ul {
          display: flex;
          padding: 24px 0 0 0px;
          gap: 12px;

          li {
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 6px;
              width: 178px;
              height: 56px;
              background-color: #fff;
              border-radius: 12px;
              font-weight: 600;
              font-size: 18px;

              .ico-appG {
                background-position: -341px -292px;
              }

              .ico-appA {
                background-position: -371px -292px;
              }
            }

            &:hover {
              a {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

// ----------------------------- section1 end -----------------------------

// ----------------------------- section 2 - 6 common settings -----------------------------

// @keyframes slide-left {
//   0% {transform: translateX(-100%);}
//   100% {transform: translateX(0%)}
// }
// @keyframes slide-right {
//   0% {transform: translateX(100%);}
//   100% {transform: translateX(0%)}
// }

// .animate-init {
//   animation: slide-;
// }

// .animate {

// }

.md_sec {
  height: 750px;
  overflow: hidden;

  > .container {
    display: flex;
    justify-content: center;
    gap: 96px;
    height: 100%;

    > .img-box {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.8s 0.5s;

      > img {
        width: 473px;
      }
    }

    > .text-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 24px;

      > h3 {
        font-size: 42px;
        line-height: 1.3;
      }

      > p {
        margin-top: 24px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
      }
    }
  }
}
// ----------------------------- section3 start -----------------------------
// img animation
.section3.animate-init {
  .img-box {
    transform: translateX(25%);
    opacity: 0;
  }
}
.section3.animate {
  .img-box {
    transform: translateX(0%);
    opacity: 1;
  }
}

.section3 {
  > .container {
    flex-direction: row-reverse;
    padding-left: 120px;

    .img-box {
      > img {
        width: 409px;
      }
    }

    .btn-box {
      > a {
        width: 158px !important;
      }
    }

    .img-box-2 {
      margin-top: 60px;
      > img {
        width: 440px;
      }
    }
  }
}
// ----------------------------- section3 end -----------------------------
// ----------------------------- section5 start -----------------------------
.section5 {
  > .container {
    flex-direction: row-reverse;
    padding-left: 76px;

    .img-box {
      > img {
        width: 492px;
      }
    }
  }
}
// ----------------------------- section5 end -----------------------------

// ----------------------------- section6 start -----------------------------
// img-animation
.section6.animate-init {
  .img-box {
    transform: translate(0, 25%);
    opacity: 0;
  }
}
.section6.animate {
  .img-box {
    transform: translateX(0, 0);
    opacity: 1;
  }
}
.section6 {
  background-image: url(/images/imgi_23_home_map.png);
  background-repeat: no-repeat;
  background-position: -160px;

  > .container {
    .img-box {
      > img {
        width: 409px;
      }
    }
  }
}
// ----------------------------- section6 end -----------------------------

// ----------------------------- section7 start -----------------------------
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(0.25);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.section7.animate-init {
  .bg.bg-night {
    top: 100%;
  }

  .bg-moon {
    > .moon-out {
      transform: translate(-100%, -100%);
      opacity: 0;
    }
  }

  .bg-star {
    opacity: 0;
  }
}
.section7.animate {
  .bg.bg-night {
    top: 0%;
  }

  .bg-moon {
    > .moon:nth-child(1) {
      background-color: #fff;
    }
    > .moon-out {
      opacity: 1;
      transform: translate(-25%, -25%);
    }
  }

  .bg-star {
    opacity: 1;
  }
}

.section7 {
  $transition-duration: 1s;
  $transition-delay: 0.2s;

  overflow: hidden;
  color: #fff;
  position: relative;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all $transition-duration $transition-delay;
  }
  .bg-night {
    background-color: #343b56;
    z-index: -1;
  }
  .bg-day {
    background-color: #669ad9;
    z-index: -2;
  }

  // sec-7 text-box
  .text-box {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 160px;
    gap: 32px;

    h3 {
      font-size: 48px;
    }

    p {
      font-size: 18px;
      font-weight: 300;
    }
  }

  // sec-7 img-box
  .img-box {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    img {
      width: 470px;
    }
  }

  // sec-7 btn box
  .btn-box-wrap {
    display: flex;
    gap: 6px;

    .btn-box {
      display: flex;
      gap: 6px;

      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 166px;
        height: 56px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        font-size: 17px;

        &:hover {
          text-decoration: underline;
        }

        > img {
          width: 6px;
          margin-left: 6px;
        }
      }
    }
  }

  .bg-moon {
    position: absolute;
    top: 22%;
    right: 17%;
    overflow: hidden;

    .moon {
      width: 110px;
      height: 110px;
      border-radius: 999px;
      background-color: #ffe400;
      transition: all 0.4s 0.8s;
    }
    .moon-out {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 120px;
      height: 120px;

      background-color: #343b56;
      transition: transform 0.8s, opacity 0s;
      transition-delay: 0.65s;
    }
  }

  .bg-star {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s;
    transition-delay: 0.2s;

    .star {
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 99px;
      background-color: #fff;
      animation-iteration-count: infinite;
      animation-name: star;
      animation-direction: alternate;

      &-1 {
        top: 10%;
        left: 5%;
        animation-duration: 2s;
      }
      &-2 {
        top: 20%;
        left: 20%;
        animation-duration: 3s;
      }
      &-3 {
        top: 58%;
        left: 17%;
        animation-duration: 4s;
      }
      &-4 {
        top: 50%;
        left: 80%;
        animation-duration: 3s;
      }
      &-5 {
        top: 70%;
        left: 90%;
        animation-duration: 2s;
      }
      &-6 {
        top: 20%;
        left: 80%;
        animation-duration: 3s;
      }
      &-7 {
        top: 30%;
        left: 90%;
        animation-duration: 4s;
      }
      &-8 {
        top: 90%;
        left: 25%;
        animation-duration: 5s;
      }
    }
  }
}
// ----------------------------- section7 end -----------------------------
// ----------------------------- section8 start -----------------------------
.section8 {
  $swiper-card-width: 240px;

  .container {
    padding: 150px 0 0;
    position: relative;

    .text-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h3 {
        font-size: 42px;
      }

      p {
        margin-top: 30px;
        font-size: 17px;
      }
    }

    .card-swiper {
      width: calc($swiper-card-width * 3);
      margin: 100px auto;
      overflow-x: hidden;
      padding: 50px 0;

      .swiper-wrapper {
        .swiper-slide {
          width: $swiper-card-width;
          transition: transform 0.3s;
          img {
            width: 100%;
            object-fit: contain;
          }
        }
        .swiper-slide-active {
          width: 280px;
          transform: scale(1.25);
          z-index: 1;
        }
      }
    }

    // prev/next btn
    .btn {
      position: absolute;
      top: 70%;
      cursor: pointer;
    }

    .prev-btn {
      left: 5%;
    }
    .next-btn {
      right: 5%;
    }
  }
}

// ----------------------------- section8 end -----------------------------

// ----------------------------- section9 start -----------------------------
.section9 {
  background-color: #f6f6f6;
  position: relative;
  width: 100%;

  .container {
    position: relative;
    text-align: center;
    padding: 160px 0 160px;
    max-width: 1020px;
    width: 100%;
    z-index: 2;

    > h2 {
      font-size: 43px;
      font-weight: 600;
    }

    .content-bar {
      width: 100px;
      height: 2px;
      background-color: #222;
      margin: 50px auto 140px;
    }

    .img-box {
      margin: 0 auto;
      position: relative;
    }

    .text-box {
      display: flex;
      font-size: 15px;
      margin-top: 45px;
      letter-spacing: -0.2px;

      > li {
        flex: 1 1 0;
        font-weight: 200;
        line-height: 1.7;

        h4 {
          font-size: 19px;
          margin-bottom: 17px;
        }
      }
    }
  }
  .content-bar-2 {
    width: 100%;
    height: 1px;
    background-color: #eee;
    position: absolute;
    top: 64%;
    left: 0;
    z-index: 1;
  }
}

// ----------------------------- section9 end -----------------------------

// ----------------------------- main end -----------------------------

// ----------------------------- footer start -----------------------------
footer {
  background-color: #eee;
  color: #666;

  .container {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.7;

    .info {
      padding: 20px 0;

      a {
        display: inline-block;

        &.bold {
          font-weight: 600;
          color: #111;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      span {
        display: inline-block;
        height: 10px;
        width: 1px;
        background-color: #d8d8d8;
        margin: 0 15px;
      }
    }

    .info-busi {
      font-size: 13px;

      span {
        padding-right: 6px;
      }
      .tel {
        color: #111;
        font-weight: 400;
      }
    }

    .info-copyright {
      font-weight: 500;
    }

    .bottom {
      display: flex;
      gap: 20px;
      padding: 12px 0 18px;

      > a {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 14px;
        font-weight: 800;

        img {
          width: 42px;
        }

        &:nth-child(1) {
          img {
            width: 46px;
          }
        }
      }

      .sns-box {
        margin-left: auto;
        display: flex;
        gap: 6px;

        li {
          a {
            overflow: hidden;

            .ico-sns {
              display: block;
              width: 24px;
              height: 24px;
              text-indent: -9999px;
              background-image: url(/images/imgi_24_ico_sns.png);
              background-repeat: no-repeat;
            }
          }

          > .facebook {
            .ico-sns {
              background-position: 0 -90px;
            }
          }
          > .instagram {
            .ico-sns {
              background-position: -191px -138px;
            }
          }
          > .youtube {
            .ico-sns {
              background-position: -90px -90px;
            }
          }
          > .brunch {
            .ico-sns {
              background-position: -217px -138px;
            }
          }
        }
      }
    }
  }
}

// ----------------------------- footer end -----------------------------
